{% extends 'core/base.html' %}
{% load static %}
{% load weight_converter %}

{% block content %}
  <h1>Ваша корзина</h1>
  <table class="table table-secondary">
    <thead>
      <tr>
      <th>Фото</th>
      <th>Товар</th>
      <th>Вес</th>
      <th>Цена</th>
      <th>Вложений в упаковке</th>
      <th>Вес упаковки</th>
      <th>Кол-во упаковок</th>
      <th>Общий вес</th>
      <th>Стоимость</th>
      <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <td>
            <a href="{% url "core:product" item.pack.product.slug %}">
              <img src="{{ item.pack.product.image.url }}" height="80px">
            </a>
          </td>
          <td>{{ item.pack.product.name }}</td>
          <td>{{ item.pack.weight | convert_weight }}</td>
          <td>{{ item.pack.price }}</td>
          <td>{{ item.pack.items_in_box }} шт</td>
          <td>{{ item.pack.get_package_weight | convert_weight }}</td>
          <td>
            <form action="{% url "cart:cart_update" item.pack.sku %}" method="post">
              {{ item.get_update_form.as_p }}
              <input type="submit" value="Изменить">
              {% csrf_token %}
            </form>
          </td>
          <td>{{ item.get_total_weight | convert_weight }}</td>
          <td>{{ item.get_total_price }}</td>
          <td>
            <form action="{% url "cart:cart_remove" item.pack.sku %}" method="post">
              <input type="submit" value="Удалить">
              {% csrf_token %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>Итого: {{ total_price }}</p>
  <p class="text-right">
    <a href="{% url "core:home" %}" class="button light">В каталог</a>
    {% if cart.count %}
    <a href="{% url "orders:create" %}" class="button">Оформить</a>
    {% endif %}
  </p>
{% endblock %}
