{% extends 'core/base.html' %}
{% load static %}
{% load weight_converter %}

{% block content %}
  <h1>Ваша корзина</h1>
  <table class="table table-secondary">
    <thead>
      <tr>
      <th>Фото</th>
      <th>Товар</th>
      <th>Вес единицы</th>
      <th>Вложений в упаковке</th>
      <th>Вес упаковки</th>
      <th>Кол-во упаковок</th>
      <th>Общий вес</th>
      <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <td>
            <a href="{% url "core:product" item.product.slug %}">
              <img src="{{ item.product.image.url }}" height="80px">
            </a>
          </td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.packaging.weight | convert_weight }}</td>
          <td>{{ item.packaging.packaging }} шт</td>
          <td>{{ item.packaging.get_package_weight | convert_weight }}</td>
          <td>
            <form action="{% url "cart:cart_update" %}" method="post">
              {{ item.update_quantity_form.as_div }}
              <input type="submit" value="Изменить">
              {% csrf_token %}
            </form>
          </td>
          <td>{{ item.total_weight | convert_weight }}</td>
          <td>
            <form action="{% url "cart:cart_remove" item.packaging.sku %}" method="post">
              <input type="submit" value="Удалить">
              {% csrf_token %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "core:home" %}" class="button light">В каталог</a>
    {% if cart %}
    <a href="{% url "orders:create" %}" class="button">Оформить</a>
    {% endif %}
  </p>
{% endblock %}
