<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/images/main.ico' %}" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"
        defer></script>
</head>
<body>
<div class="row">
  <div class="col-2 bg-dark" style="padding-top: 2%;">
    <div class="d-grid gap-1 col-5 mx-auto">
      <ul>
      {% if request.user.is_authenticated %}
      <li>
      {% with total_items=request.user.cart.count %}
        {% if total_items > 0 %}
          <a href="{% url "cart:cart_detail" %}">
        {% endif %}
            <button type="button" class="btn btn-outline-light">Корзина: {{ total_items }}</button>
          </a>
        </li>
        <li><a href="{% url "logout" %}"><button type="button" class="btn btn-outline-light">Выход</button></a></li>
      {% endwith %}
      {% else %}
        <a href="{% url "login" %}"><button type="button" class="btn btn-outline-light">Вход</button></a>
      {% endif %}
    </ul>
    </div>
  {% block menu %}
    <div class="btn-group-vertical d-grid gap-1 mx-auto" style="padding-top: 25%;" role="group" aria-label="Vertical button group">
        <a type="button" class="btn btn-outline-light" href="{% url 'core:home' %}" role="button">Главная</a>
        <div class="btn-group dropend" role="group">
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Компания
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">О компании</a></li>
              <li><a class="dropdown-item" href="#">Миссия</a></li>
              <li><a class="dropdown-item" href="#">Вакансии</a></li>
              <li><a class="dropdown-item" href="#">Награды и достижения</a></li>
            </ul>
        </div>
        <div class="btn-group dropend" role="group">
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Продукция
            </button>
            <ul class="dropdown-menu">
              {% for item in categories %}
              <li><a class="dropdown-item" href="{% url 'core:products' item.slug %}">{{ item }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <a type="button" class="btn btn-outline-light" href="{% url 'core:home' %}" role="button">Где купить</a>
        <div class="btn-group dropend" role="group">
            <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Сотрудничество
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cooperation:distribution' %}">Дистрибьюция </a></li>
              <li><a class="dropdown-item" href="{% url 'cooperation:private_label' %}">Private label</a></li>
              <li><a class="dropdown-item" href="{% url 'cooperation:suppliers' %}">Поставщикам</a></li>
              <li><a class="dropdown-item" href="#">Тендеры</a></li>
            </ul>
        </div>
        <a type="button" class="btn btn-outline-light" href="{% url 'core:home' %}" role="button">Новости</a>
        <a type="button" class="btn btn-outline-light" href="{% url 'core:home' %}" role="button">Вакансии</a>
        <a type="button" class="btn btn-outline-light" href="{% url 'core:home' %}" role="button">Контакты</a>
    </div>
  {% endblock %}
  </div>
  <div class="col" style="background-color: rgb(186, 247, 255);">
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>
