{% extends 'core/base.html' %}

{% block content %}
<ul class="nav nav-underline" style="background-color: blanchedalmond; padding-inline: 15%;">
    {% for cat in categories %}
    <li class="nav-item">
      <a class="nav-link {% if request.kwargs.slug == cat.slug %}active" 
      aria-current="page{% endif %}" style="color: red;" 
      href="{% url 'core:products' cat.slug %}">{{ cat }}</a>
    </li>
    {% endfor %}
  </ul>
<div class="row" style="padding-top: 15px;">
    <div class="col">
        <div class="row row-cols row-cols-md-6 g-4">
                {% for product in products %}
                <div class="col">
                    <a href="{% url 'core:product' product.slug %}">
                        <div class="card h-100 text-center">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product }}">
                            <div class="card-body">
                              <h6 class="card-title">{{ product }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}