{% extends 'core/base.html' %}
{% load static %}
{% load weight_converter %}

{% block content %}

<h2>{{ product.name }}</h2>
{% if product.is_gost %}
<img src="{% static "img/gost.jpg" %}" alt="ГОСТ">
{% endif %}
<img src="{{ product.image.url }}">
<br>
<table class="table table-primary">
    <tbody>
      <tr>
        <th  scope="row">Описание</th>
        <td>{{ product.productdetail.description }}</td>
      </tr>
      <tr>
        <th scope="row">Условия хранения:</th>
        <td>{{ product.productdetail.conditions }}</td>
      </tr>
      <tr>
        <th scope="row">Срок хранения</th>
        <td>{{ product.productdetail.storage_time }} {{ product.productdetail.get_storage_time_units_display }}</td>
      </tr>
      <tr>
        <th scope="row">КБЖУ</th>
        <td>калорийность: {{ product.productdetail.calories|floatformat }} ккал<br>
            белки: {{ product.productdetail.proteins|floatformat }} г<br> 
            жиры: {{ product.productdetail.fats|floatformat }} г<br>
            углеводы: {{ product.productdetail.carbohydrates|floatformat }} г
        </td>
      </tr>
    </tbody>
</table>
<div class="container">
<form action="{% url "cart:cart_add" %}" method="post">
  {{ management_form }}
  <ul>
    {% for packaging, form in cart_add_formset_with_packagings %}
      <li>Вес: {{ packaging.weight | convert_weight }}, в коробке {{ packaging.packaging }} шт, общий вес {{ packaging.get_package_weight | convert_weight }} {{ form }}</li>
    {% endfor %}
  </ul>
  {% csrf_token %}
  <input type="submit" value="Добавить в корзину">
 </form>
</div>
 
{% endblock %}